<% include ../partials/header %>

<div class='container'>
    <div class='row'>
        <h1 style='text-align: center'>Edit <% movie.name %></h1>
        <div style='width: 30%; margin: 30px auto;'>
            <form action="/movies/<%= movie._id %>/?_method=PUT" method="post">
                <div class='form-group'>
                   <input class='form-control' type="text" name="movie[name]" value="<%= movie.name %>"> 
                </div>
                <div class="form-group">
                    <select class='form-control' name="movie[category]">
                      <option value="Comedy">Comedy</option>
                      <option value="Action">Action</option>
                      <option value="Sci-fi">Sci-Fi</option>
                      <option value="Horror">Horror</option>
                      <option value="Drama">Drama</option>
                      <option value="Fantasy">Fantasy</option>
                    </select>
                </div>
                <div class='form-group'>
                    <input class='form-control' type="text" name="movie[image]" value="<%= movie.image %>">
                </div>
                <div class='form-group'>
                    <input class='form-control' type="text" name="movie[description]" value="<%= movie.description %>">
                </div>
                <div class='form-group'>
                    <button class='btn btn-lg btn-primary btn-block'>Update movie</button>
                </div>
            </form>
            <a href="/movies">Go back</a>
        </div>
        
    </div>
</div>


<% include ../partials/footer %>